## NPM Specific Configuration
user=m3tior
# make sure the editor is nano cause I am noob with vi.
editor=/bin/nano

## Puppeteer Library Configuration.
# make sure we don't download the default binary, and use our builtin
# to preserve disk space.
puppeteer_skip_chromium_download=true
puppeteer_executable_path=/usr/bin/chromium-browser
